<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Thank You</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <header class="screen-header">
      <div class="screen-header__row">
        <span class="screen-header__text">2024 Project</span>
      </div>
      <div class="screen-header__row">
        <span class="screen-header__text">Photo Pi</span>
        <img id="pi-logo" src="{{ url_for('static', filename='logo.svg') }}" />
      </div>
    </header>
    <main>
      <img id="pi-logo__end" src="{{ url_for('static', filename='logo.svg') }}" />
      <div class="message message__end">이용해주셔서 감사합니다 :)</div>
    </main>
  </body>
</html>
