<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>촬영 시작</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script>
      let countdown = 3;
      function startCountdown() {
        document.getElementById('countdown').innerText = countdown;
        countdown--;
        if (countdown < 0) {
          window.location.href = '/capture_photos';
        } else {
          setTimeout(startCountdown, 1000);
        }
      }
      window.onload = startCountdown;
    </script>
  </head>
  <body>
    <header class="screen-header">
        <div class="screen-header__row">
          <span class="screen-header__text">2024 Project</span>
        </div>
        <div class="screen-header__row">
          <span class="screen-header__text">Photo Pi</span>
          <img id="pi-logo" src="{{ url_for('static', filename='logo.svg') }}" />
        </div>
      </header>
    <main>
      <div class="message" id="countdown">3</div>
    </main>
  </body>
</html>
